 *{
  box-sizing: border-box;
   margin: 0;
    padding: 0;
}

body{
     background-color:rgb(96, 98, 155);
     font-family: sans-serif;
}

nav{
    background-color:rgb(163, 216, 152);
    height: 13vh;
    width:100%;
}

.logo{
    /* height: 40px; */
    /* margin-top: 15px; */
    float: left;
    padding: 12px;
}

ul{
    text-align:center;
    line-height: 10vh;
}
li{ 
    list-style:none;
    display:inline-block;
    padding:15px;
    
}
a{text-decoration:none;
   color: black;
}
ul>li>a:hover{color:rgb(4, 75, 253);}


.login{
    float:right;
    padding: 15px;
}

.left{
    width: 55vh;
    display: inline-block;
    vertical-align: top;
    padding: 40px;
}

.right{
    width: 48vw;
    display: inline-block;
    vertical-align: top;
    padding: 40px;
    float: none;
}

h1 {
    font-size: 2.5rem;
    color: rgb(3, 3, 3);
    margin-bottom: 10px;
}

.wl {
    font-size: 1.5rem;
    color: rgb(24, 252, 3);
    margin-bottom: 20px;
}

.tagline {
    font-size: 1.2rem;
    color: rgb(252, 223, 3);
    margin-bottom: 10px;
}

.desc {
    font-size: 1rem;
    color: rgb(252, 115, 3);
    margin-bottom: 30px;
}

.robo {
    max-width: 100%;
    height: 60vh;
    border-radius: 12px;
    object-fit: cover;
}

.book-btn {
 padding: 15px 30px;
 font-size: 16px;
 font-weight: 600;
 background-color: #2ec320;
 color: white;
 border: none;
 border-radius: 6px;
 cursor: pointer;
}    
   
.book-btn:hover {
  background-color: #1ea012;
}

